@page
@model AutoServiceProject.Pages.Admin.CompletedOrdersModel

<h3>Tamamlanmış Sifarişlər</h3>



<table class="table">
    <thead>
        <tr>
            <th>İstifadəçi</th>
            <th>Ədəd</th>
            <th>Part</th>
            <th>Status</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.User.FullName</td>
                <td>@order.Quantity</td>
                <td>@order.SparePart.Name</td>
                <td>@order.Status</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-page="/Admin/OrderDetails" asp-route-id="@order.Id">View</a>

                </td>
            </tr>
        }
    </tbody>
</table>
